*{
    margin: auto;
    padding: 0px;
}
body{
    min-width: 1024%;
}
.container{
 
    width: 60%;
}
header{
    margin-top: 30px;
    margin-left: 50px;
    width: 50%;
    background-color: blue
}
.title_header{
    margin-left: 100px;
}
#log_2{
    margin-left: 1000px;
    margin-top: -50px;
}